.about-wrapper{
    background-color: rgb(248, 245, 245);
    position: relative;
    min-height: 100vh;
    padding-bottom: 1.2rem;
//     -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 87%, 50% 100%, 0 85%, 0 0); 
//     clip-path: polygon(50% 0%, 100% 0, 100% 87%, 50% 100%, 0 85%, 0 0);
//     @media screen and (max-width:768px){
//         -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
//         clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
//    }
    
     .container{
        width: 90%;
        height: 250px;
        margin: 0 auto;
        display: flex;
        height: inherit;
        @media screen and (max-width:768px){
            flex-direction: column;
            padding: 1rem 0;
       }
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(rgb(234, 234, 247),rgb(221, 181, 188),rgb(238, 223, 195),rgb(248, 228, 228));
            opacity: 0.6;
        }
        .left{
            width: 50%;
            height: inherit;
            z-index: 1;
            // margin-top: 5rem;
            @media screen and (max-width:768px){
                width: 100%;
                margin-top: 2rem;
           }
             pre{
                font-size: 1.8rem;
                line-height: 3.6rem;
               font-weight: 800;
               font-family: "Lato";
               text-wrap: wrap;
               margin-top: 4rem;
                @media screen and (max-width:768px){
                    font-size: 1.4rem;
                    text-align: justify;
               }
             }
            video{
             width: 95%;
             object-fit: cover;
             @media screen and (max-width:768px){
                width: 100%;
          }
            }
        }
        .right{
            width: 50%;
            z-index: 1;
            margin-top: 2rem;
            @media screen and (max-width:768px){
                width: 100%;
           }
            h2{
                font-size: 6rem;
                text-transform: capitalize;
                text-align: center;
                @media screen and (max-width:768px){
                    font-size: 3rem;
               }

            }
            .about-content{
                // margin-top: 2rem;
                 pre{
                    text-wrap: wrap;
                    font-size: 1.8rem;
                    line-height: 3.5rem;
                    color: rgb(26, 24, 24);
                    text-align: justify;
                    font-weight: 500;
                    font-family: "Lato";
                    height: 440px;
                    margin-top: 4rem;
                    overflow: hidden;
                    @media screen and (max-width:768px){
                        font-size: 1.2rem;
                        text-align: justify;
                   }
                 }
            }
            button{
                padding: 1rem 2rem;
                background: transparent;
                outline: none;
                border: 1px solid black;
                width: 20%;
                margin-top: 1.5rem;
                cursor: pointer;
                @media screen and (max-width:768px){
                    width: 50%;
                    
               }
            }
        }
     }
}